@import "../../Global.scss";

.adminContainer {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100%;

  .bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      background-color: $secondary-backgroundColor;
      border-radius: 10px;
      top: 10px;
      right: 10px;
      padding: 5px 10px;
      transition: 0.3s ease-in-out;
      width: 50px;
      height: 60px;

      // .avatarProfileImage {
      //   width: 50px;
      //   height: 50px;
      // }

      .avatarDefaultProfileImage {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
      }

      // p {
      //   font-size: 12px;
      //   font-weight: bold;
      //   margin: 0;
      // }

      h2 {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: -10px;
      }

      &:hover {
        cursor: pointer;
        background-color: transparent;
        outline: 1px solid $whitePattern-color;
      }
    }
  }
}
